* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

#burger-menu {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 650px) {
  #burger-menu {
    display: block;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #031e43;
  color: #fdfdfd;
}
body header div.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
}
@media only screen and (max-width: 650px) {
  body header div.navbar {
    display: none;
  }
}
body header div.navbar nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  background-color: #031e43;
}
@media only screen and (min-width: 651px) {
  body header div.navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: #031e43;
  }
}
@media only screen and (max-width: 650px) {
  body header div.navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }
}
body header div.navbar nav i {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  body header div.navbar nav i {
    display: block;
  }
}
body header div.navbar nav a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 650px) {
  body header div.navbar nav a {
    display: none;
  }
}
@media only screen and (min-width: 650px) {
  body header div.navbar nav a {
    display: block;
    padding: 0px;
  }
}
body main {
  background-color: #031e43;
}
body main section {
  padding: 20px;
  width: 100%;
  height: 100vh;
}
body main section .title-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 500%;
}
@media only screen and (max-width: 650px) {
  body main section .title-container {
    font-size: 230%;
  }
}
@media only screen and (max-width: 325px) {
  body main section .title-container {
    font-size: 200%;
  }
}
body main section .title-container .scroll-down {
  font-size: 25%;
}
body main section .title-container h1, body main section .title-container h5 {
  margin: 0 auto;
}
body main section.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 155vh;
}
body main section.skills div#skill-title {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 300%;
  font-weight: 200;
}
@media only screen and (max-width: 320px) {
  body main section.skills div#skill-title {
    font-size: 250%;
  }
}
body main section.skills div#skill-title h2 {
  font-weight: 200;
}
body main section.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 150vh;
}
@media only screen and (max-width: 450px) {
  body main section.projects {
    height: 100vh;
  }
}
@media only screen and (max-width: 320px) {
  body main section.projects {
    height: 150vh;
  }
}
body main section.projects div#projects-title {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 300%;
  font-weight: 200;
}
@media only screen and (max-width: 320px) {
  body main section.projects div#projects-title {
    font-size: 250%;
  }
}
body main section.projects div#projects-title h2 {
  font-weight: 200;
}
body main section.player-connect-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body main section.experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
@media only screen and (max-width: 450px) {
  body main section.experience {
    height: 150vh;
  }
}
@media only screen and (max-width: 979px) {
  body main section.experience {
    height: 170vh;
  }
}
@media only screen and (max-width: 679px) {
  body main section.experience {
    height: 220vh;
  }
}
@media only screen and (max-width: 320px) {
  body main section.experience {
    height: 250vh;
  }
}
body main section.experience div#experience-title {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 300%;
  font-weight: 200;
  max-width: 370px;
}
body main section.experience div#experience-title h2 {
  font-weight: 200;
  font-size: 130%;
  max-width: 370px;
}
@media only screen and (max-width: 679px) {
  body main section.experience div#experience-title h2 {
    font-size: 100%;
  }
}
body main section.experience div.experience-container-large {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}
body main section.experience div.experience-container {
  display: flex;
  padding: 20px;
  width: 33%;
  flex-direction: column;
  align-items: center;
  text-align: left;
  min-width: 300px;
}
body main section.experience div.experience-container h4 {
  padding-top: 30px;
  color: tomato;
}
body main section.experience div.experience-container h5 {
  padding: 10px;
}
body main section.experience div.experience-container h6 {
  padding-bottom: 10px;
}
body main section.experience div.experience-container p {
  font-size: 90%;
}
body main section.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
@media only screen and (max-width: 719px) {
  body main section.about {
    height: 120vh;
  }
}
@media only screen and (max-width: 400px) {
  body main section.about {
    height: 170vh;
  }
}
@media only screen and (max-width: 323px) {
  body main section.about {
    height: 220vh;
  }
}
body main section.about div#about-title {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 300%;
  font-weight: 200;
}
body main section.about div#about-title h2 {
  font-weight: 200;
}
body main section.about div.image-text-container {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
@media only screen and (max-width: 1050px) {
  body main section.about div.image-text-container {
    width: 100%;
    flex-direction: column;
    padding-top: 40px;
  }
}
body main section.about div.image-text-container div.about-details {
  padding: 20px;
  width: 80%;
  padding-left: 30px;
}
@media only screen and (max-width: 719px) {
  body main section.about div.image-text-container div.about-details {
    width: 100%;
    padding-left: 0;
  }
}
body main section.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
  margin-top: 50px;
}
body main section.contact div#contact-title {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 300%;
  font-weight: 200;
}
body main section.contact div#contact-title h2 {
  font-weight: 200;
}
body main section.contact div.image-text-container {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main section.contact div.image-text-container .icons {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
@media only screen and (max-width: 450px) {
  body main section.contact div.image-text-container .icons {
    padding-left: 0;
  }
}
body main section.contact div.image-text-container .icons .fab {
  padding: 11px;
}
body main section.contact div.image-text-container .icons .far {
  padding: 12px;
}
body main section.contact div.image-text-container .contact-details {
  padding-left: 10px;
  margin-bottom: 3px;
}
body main section.contact div.image-text-container .contact-details .contact-link {
  padding: 10px;
}
body main section.contact div.image-text-container .contact-details .contact-link a {
  color: white;
}

[data-aos=underline] {
  color: #fff;
  height: 2px;
  width: 0%;
  left: 5%;
  background-color: white;
  transition-property: width;
}
[data-aos=underline].aos-animate {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title i {
  margin-top: 100px;
  -webkit-text-stroke: 7px #031e43;
}
.title .console-container {
  display: flex;
  flex-direction: row;
  background-color: #031e43;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.console-underscore {
  background-color: #031e43;
}

.hidden {
  opacity: 0;
  background-color: #031e43;
}

.removed {
  display: none;
}

.display {
  display: block;
}

.visible {
  opacity: 1;
  background-color: #031e43;
}

.react-logo {
  height: 100px;
  width: 100px;
}

#Layer_2 {
  max-width: 95%;
  max-height: 95%;
}
#Layer_2 path {
  fill-opacity: 0;
  stroke: white;
  stroke-width: 7;
  stroke-dasharray: 2400;
}
#Layer_2 circle {
  fill-opacity: 0;
  stroke: white;
  stroke-width: 7;
  stroke-dasharray: 2400;
}

#html-5 {
  max-width: 95%;
  max-height: 95%;
}
#html-5 path {
  fill-opacity: 0;
  stroke: white;
  stroke-width: 3;
  stroke-dasharray: 2000;
}

#css-3 {
  max-width: 95%;
  max-height: 95%;
}
#css-3 path {
  fill-opacity: 0;
  stroke: white;
  stroke-width: 3;
  stroke-dasharray: 2000;
}

@media only screen and (max-width: 450px) {
  #js {
    padding-right: 5px;
  }
}
#js path {
  fill-opacity: 0;
  stroke: white;
  stroke-width: 3;
  stroke-dasharray: 2000;
}

.logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}

#myChart {
  transform: scale(1);
}

#youbet-logo path {
  fill-opacity: 0;
  stroke: white;
  stroke-width: 30;
  stroke-dasharray: 10867.732421875;
}

#player-connect path {
  fill-opacity: 0;
  stroke: white;
  stroke-width: 30;
  stroke-dasharray: 19016.759765625;
}

#logo-a path {
  fill-opacity: 0;
  stroke: white;
  stroke-width: 30;
  stroke-dasharray: 27640.380859375;
}

#battleship {
  min-width: 100px;
}
@media only screen and (max-width: 650px) {
  #battleship {
    max-width: 300px;
  }
}
@media only screen and (max-width: 400px) {
  #battleship {
    max-width: 200px;
  }
}
#battleship path {
  fill-opacity: 0;
  stroke: white;
  stroke-width: 30;
  stroke-dasharray: 21773.720703125;
}

[data-aos=draw] {
  stroke-dashoffset: 2400;
  transition-property: stroke-dashoffset;
}
[data-aos=draw].aos-animate {
  stroke-dashoffset: 0;
}

[data-aos=undraw] {
  stroke-dashoffset: 0;
  transition-property: stroke-dashoffset;
}
[data-aos=undraw].aos-animate {
  stroke-dashoffset: 2400;
}

[data-aos=draw-youtube] {
  stroke-dashoffset: 10867.732421875;
  transition-property: stroke-dashoffset;
}
[data-aos=draw-youtube].aos-animate {
  stroke-dashoffset: 0;
}

[data-aos=draw-playerconnect] {
  stroke-dashoffset: 19016.759765625;
  transition-property: stroke-dashoffset;
}
[data-aos=draw-playerconnect].aos-animate {
  stroke-dashoffset: 0;
}

[data-aos=draw-logo-a] {
  stroke-dashoffset: 27640.380859375;
  transition-property: stroke-dashoffset;
}
[data-aos=draw-logo-a].aos-animate {
  stroke-dashoffset: 0;
}

[data-aos=draw-battleship] {
  stroke-dashoffset: 21773.720703125;
  transition-property: stroke-dashoffset;
}
[data-aos=draw-battleship].aos-animate {
  stroke-dashoffset: 0;
}

circle.swatch {
  display: none;
}

text.label {
  display: none;
}

h2.circle-overlay__title {
  display: none;
}

#chevron-right {
  background: none;
}

#chevron-left {
  background: none;
}

figure {
  flex-shrink: 0;
  padding: 1.5em;
}
figure a {
  cursor: pointer;
}
figure img {
  cursor: pointer;
  flex-shrink: 0;
}

#youbet-logo {
  min-width: 100px;
}
@media only screen and (max-width: 650px) {
  #youbet-logo {
    max-width: 300px;
  }
}
@media only screen and (max-width: 400px) {
  #youbet-logo {
    max-width: 200px;
  }
}

.glider-contain {
  width: 80%;
}
@media only screen and (max-width: 1100px) {
  .glider-contain {
    width: 90%;
  }
}
@media only screen and (max-width: 800px) {
  .glider-contain {
    width: 95%;
  }
}

.glider {
  min-width: 300px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #fc644d;
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: tomato;
}

foreignobject.circle-overlay.hidden {
  display: none;
}

.changeColor {
  background: white;
}

svg.bubble {
  overflow: visible;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media only screen and (max-width: 320px) {
  svg.bubble {
    height: 500px;
  }
}

svg {
  background: none;
}

label {
  display: block;
  width: 5em;
}

.ui-tooltip-content {
  background: white;
  color: black;
}

.project-logos-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

#player-connect {
  min-width: 100px;
  max-width: 200px;
}

.overlay-top {
  display: none;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-inside {
  background-color: #f4f4f4;
  color: black;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  height: 42%;
  overflow: auto;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 2s;
}
@media only screen and (max-width: 750px) {
  .modal-inside {
    width: 80%;
  }
}
@media only screen and (max-width: 560px) {
  .modal-inside {
    height: 50%;
  }
}
@media only screen and (max-width: 430px) {
  .modal-inside {
    height: 50%;
  }
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.icons-modal {
  margin-top: 10px;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icons-modal .gitHub-logo-modal {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icons-modal .gitHub-logo-modal i.fab {
  color: black;
}
.icons-modal .gitHub-logo-modal i {
  cursor: pointer;
}
.icons-modal .gitHub-logo-modal i:hover, .icons-modal .gitHub-logo-modal i:focus {
  color: #808080;
}
.icons-modal .link-logo-modal {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icons-modal .link-logo-modal i.fas {
  color: black;
}
.icons-modal .link-logo-modal i {
  cursor: pointer;
}
.icons-modal .link-logo-modal i:hover, .icons-modal .link-logo-modal i:focus {
  color: #808080;
}

.display-nav {
  display: block;
}

.undisplay-nav {
  display: none;
}

.open-burger {
  margin-top: 8px;
}

.nav-open {
  height: 250px;
  margin-bottom: 400px;
  border-bottom: 1px solid white;
  flex-direction: column-reverse;
}

#navSizeOpening {
  position: fixed;
  background-color: #031e43;
  width: 100%;
  z-index: 10;
}
#navSizeOpening #myTopnavOpening {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid white;
}
@media only screen and (min-width: 650px) {
  #navSizeOpening #myTopnavOpening {
    display: none;
  }
}
#navSizeOpening #myTopnavOpening .menu-items {
  display: flex;
  flex-direction: column;
  display: none;
}
#navSizeOpening #myTopnavOpening a {
  text-decoration: none;
  color: white;
  padding: 8px;
}
#navSizeOpening #myTopnavOpening i {
  cursor: pointer;
  padding-bottom: 5px;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
