* {
  font-family: 'Montserrat', sans-serif;
  background-color: #031e43;
  color: #fdfdfd;
  box-sizing: border-box;
  margin: 0 auto;
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #031e43;
  header {
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px;
      a {
        text-decoration: none;
      }
    }
  }
  main {
    background-color: #031e43;
    section {
      padding: 20px;
      width: 100%;
      height: 100vh;
      .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 500%;
        .scroll-down {
          font-size: 25%;
        }
        h1, h5 {
          margin: 0 auto;
        }
      }
    }
    section.skills {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 150vh;
      div#skill-title {
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 300%;
        font-weight: 200;
        h2 {
          font-weight: 200;
        }
      }
    }
  }
}


[data-aos="underline"] {
  color: #fff;
  height: 1%;
  width: 0%;
  left: 5%;
  background-color: rgba(255, 255, 255, 1);
  transition-property: width;
  &.aos-animate {
    width: 100%;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  i {
    margin-top: 100px;
    -webkit-text-stroke: 7px #031e43;
  }
  .console-container {
    display: flex;
    flex-direction: row;
    background-color: #031e43;
  }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.console-underscore {
  background-color: #031e43;
}

.hidden {
  opacity: 0;
  background-color: #031e43;
}

.visible {
  opacity: 1;
  background-color: #031e43;
}

.react-logo {
  height: 100px;
  width: 100px;
}

#Layer_2 {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 7;
    stroke-dasharray: 2400;
    // stroke-dashoffset: 2400;
    // animation: draw 4s linear forwards;
    // animation-delay: 1s;
  }
  circle {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 7;
    stroke-dasharray: 2400;
    // stroke-dashoffset: 2400;
    // animation: draw 4s linear forwards;
    // animation-delay: 4s;
  }
}

#html-5 {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 2000;
    // stroke-dashoffset: 2000;
    // animation: draw 5s linear forwards;
    // animation-delay: 2s;
  }
}

#css-3 {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 2000;
    // stroke-dashoffset: 2000;
    // animation: draw 4s linear forwards;
    // animation-delay: 3s;
  }
}


#js {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 2000;
    // stroke-dashoffset: 2000;
    // animation: draw 7s linear forwards;
    // animation-delay: 1s;
  }
}


.logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

#myChart {
  transform: scale(1);
}

[data-aos="draw"] {
  stroke-dashoffset: 2400;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

circle.swatch {
  display: none;
}
text.label {
  display: none;
}

h2.circle-overlay__title {
  display: none;
}

foreignobject.circle-overlay.hidden {
  display: none;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
