* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #031e43;
  color: #fdfdfd;
  header {
    div.navbar {
      position: fixed;
      width: 100%;
      z-index: 10;
      nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        background-color: #031e43;
        @media only screen and (max-width: 650px) {
            justify-content: flex-start;
        }
        #burger-menu {
          display: none;
          cursor: pointer;
          @media only screen and (max-width: 650px) {
              display: block;
          }
        }
        a {
          text-decoration: none;
          color: white;
          @media only screen and (max-width: 650px) {
              display: none;
          }
        }
      }
    }
  }
  main {
    background-color: #031e43;
    section {
      padding: 20px;
      width: 100%;
      height: 100vh;
      .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 500%;
        .scroll-down {
          font-size: 25%;
        }
        h1, h5 {
          margin: 0 auto;
        }
      }
    }
    section.skills {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 155vh;
      div#skill-title {
        padding-top: 50px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 300%;
        font-weight: 200;
        h2 {
          font-weight: 200;
        }
      }
    }
    section.projects {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 130vh;
      div#projects-title {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 300%;
        font-weight: 200;
        h2 {
          font-weight: 200;
        }
      }
    }
    section.player-connect-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    section.experience {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 120vh;
      div#experience-title {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 300%;
        font-weight: 200;
        h2 {
          font-weight: 200;
        }
      }
      div.experience-container-large {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
      }
      div.experience-container {
        display: flex;
        padding: 20px;
        width: 33%;
        flex-direction: column;
        align-items: center;
        text-align: left;
        min-width: 300px;
        h4 {
          padding-top: 30px;
          color: tomato;
        }
        h5 {
          padding: 10px;
        }
        h6 {
          padding-bottom: 10px;
        }
        p {
          font-size: 90%;
        }
      }
    }
    section.about {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100vh;
      div#about-title {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 300%;
        font-weight: 200;
        h2 {
          font-weight: 200;
        }
      }
      div.image-text-container {
        padding-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        div.about-details {
          padding-left: 30px;
        }
      }
    }
    section.contact {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 70vh;
      margin-top: 50px;
      div#contact-title {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 300%;
        font-weight: 200;
        h2 {
          font-weight: 200;
        }
      }
      div.image-text-container {
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .icons {
          display: flex;
          flex-direction: column;
          padding-left: 20px;
          .fab {
            padding: 11px;
          }
          .far {
            padding: 12px;
          }
        }
        .contact-details {
          padding-left: 10px;
          margin-bottom: 3px;
          .contact-link {
            padding: 10px;
            a {
              color: white;
            }
          }
        }
      }
    }
  }
}

[data-aos="underline"] {
  color: #fff;
  height: 2px;
  width: 0%;
  left: 5%;
  background-color: rgba(255, 255, 255, 1);
  transition-property: width;
  &.aos-animate {
    width: 100%;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  i {
    margin-top: 100px;
    -webkit-text-stroke: 7px #031e43;
  }
  .console-container {
    display: flex;
    flex-direction: row;
    background-color: #031e43;
  }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.console-underscore {
  background-color: #031e43;
}

.hidden {
  opacity: 0;
  background-color: #031e43;
}

.removed {
  display: none;
}

.display {
  display: block;
}

.visible {
  opacity: 1;
  background-color: #031e43;
}

.react-logo {
  height: 100px;
  width: 100px;
}

#Layer_2 {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 7;
    stroke-dasharray: 2400;
    // stroke-dashoffset: 2400;
    // animation: draw 4s linear forwards;
    // animation-delay: 1s;
  }
  circle {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 7;
    stroke-dasharray: 2400;
    // stroke-dashoffset: 2400;
    // animation: draw 4s linear forwards;
    // animation-delay: 4s;
  }
}

#html-5 {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 2000;
    // stroke-dashoffset: 2000;
    // animation: draw 5s linear forwards;
    // animation-delay: 2s;
  }
}

#css-3 {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 2000;
    // stroke-dashoffset: 2000;
    // animation: draw 4s linear forwards;
    // animation-delay: 3s;
  }
}


#js {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 2000;
    // stroke-dashoffset: 2000;
    // animation: draw 7s linear forwards;
    // animation-delay: 1s;
  }
}


.logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}

#myChart {
  transform: scale(1);
}

// .youbet-logo {
//   max-width: 95%;
//   max-height: 95%;
//   path {
//     fill-opacity: 0;
//     stroke: white;
//     stroke-width: 3;
//     stroke-dasharray: 2000;
// }

#youbet-logo {
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 30;
    stroke-dasharray: 10867.732421875;
  }
}

#player-connect {
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 30;
    stroke-dasharray: 19016.759765625;
  }
}

#logo-a {
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 30;
    stroke-dasharray: 27640.380859375;
  }
}

#battleship {
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 30;
    stroke-dasharray: 21773.720703125;
  }
}

[data-aos="draw"] {
  stroke-dashoffset: 2400;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

[data-aos="undraw"] {
  stroke-dashoffset: 0;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 2400;
  }
}

[data-aos="draw-youtube"] {
  stroke-dashoffset: 10867.732421875;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

[data-aos="draw-playerconnect"] {
  stroke-dashoffset: 19016.759765625;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

[data-aos="draw-logo-a"] {
  stroke-dashoffset: 27640.380859375;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

[data-aos="draw-battleship"] {
  stroke-dashoffset: 21773.720703125;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

circle.swatch {
  display: none;
}
text.label {
  display: none;
}

h2.circle-overlay__title {
  display: none;
}

#chevron-right {
  background: none;
}
#chevron-left {
  background: none;
}

figure {
  flex-shrink: 0;
  a {
    cursor: pointer;
  }
  padding: 1.5em;
  img {
    cursor: pointer;
    flex-shrink: 0;
  }

}

#youbet-logo {
  min-width: 100px;
}

.glider-contain {
  width: 60%;
}

.glider {
  min-width: 300px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #fc644d;
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: tomato;
}

foreignobject.circle-overlay.hidden {
  display: none;
}

.changeColor {
   background: white;
}

svg.bubble {
  overflow: visible;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

svg {
  background: none;
}

label {
  display: block;
  width: 5em;
}

.ui-tooltip-content {
  background: white;
  color: black;
}

.project-logos-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

#player-connect {
  min-width: 100px;
  max-width: 200px;
}

.overlay-top {
  display: none;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-inside {
  background-color: #f4f4f4;
  color: black;
  margin: 10% auto;
  padding: 20px;
  width: 30%;
  height: 50%;
  overflow: hidden;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 2s;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.icons-modal {
  margin-top: 10px;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .gitHub-logo-modal {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    i.fab {
      color: black;
    }
    i {
      cursor: pointer
    }
    i:hover, i:focus {
      color: #808080;
    }
  }
  .link-logo-modal {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    i.fas {
      color: black;
    }
    i {
      cursor: pointer;
    }
    i:hover, i:focus {
      color: #808080;
    }
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
