* {
  font-family: 'Montserrat', sans-serif;
  background-color: #031e43;
  color: #fdfdfd;
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #031e43;
  header {
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px;
      a {
        text-decoration: none;
      }
    }
  }
  main {
    background-color: #031e43;
    section {
      padding: 20px;
      width: 100%;
      height: 100vh;
      .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 500%;
        .scroll-down {
          font-size: 25%;
        }
        h1, h5 {
          margin: 0 auto;
        }
      }
    }
    section.skills {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 160vh;
      div#skill-title {
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 300%;
        font-weight: 200;
        h2 {
          font-weight: 200;
        }
      }
    }
    section.projects {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 150vh;
      div#projects-title {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 300%;
        font-weight: 200;
        h2 {
          font-weight: 200;
          padding-bottom: 20px;
        }
      }
    }
    section.player-connect-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

[data-aos="underline"] {
  color: #fff;
  height: 1%;
  width: 0%;
  left: 5%;
  background-color: rgba(255, 255, 255, 1);
  transition-property: width;
  &.aos-animate {
    width: 100%;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  i {
    margin-top: 100px;
    -webkit-text-stroke: 7px #031e43;
  }
  .console-container {
    display: flex;
    flex-direction: row;
    background-color: #031e43;
  }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.console-underscore {
  background-color: #031e43;
}

.hidden {
  opacity: 0;
  background-color: #031e43;
}

.removed {
  display: none;
}

.display {
  display: block;
}

.visible {
  opacity: 1;
  background-color: #031e43;
}

.react-logo {
  height: 100px;
  width: 100px;
}

#Layer_2 {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 7;
    stroke-dasharray: 2400;
    // stroke-dashoffset: 2400;
    // animation: draw 4s linear forwards;
    // animation-delay: 1s;
  }
  circle {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 7;
    stroke-dasharray: 2400;
    // stroke-dashoffset: 2400;
    // animation: draw 4s linear forwards;
    // animation-delay: 4s;
  }
}

#html-5 {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 2000;
    // stroke-dashoffset: 2000;
    // animation: draw 5s linear forwards;
    // animation-delay: 2s;
  }
}

#css-3 {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 2000;
    // stroke-dashoffset: 2000;
    // animation: draw 4s linear forwards;
    // animation-delay: 3s;
  }
}


#js {
  max-width: 95%;
  max-height: 95%;
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 2000;
    // stroke-dashoffset: 2000;
    // animation: draw 7s linear forwards;
    // animation-delay: 1s;
  }
}


.logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}

#myChart {
  transform: scale(1);
}

// .youbet-logo {
//   max-width: 95%;
//   max-height: 95%;
//   path {
//     fill-opacity: 0;
//     stroke: white;
//     stroke-width: 3;
//     stroke-dasharray: 2000;
// }

#youbet-logo {
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 30;
    stroke-dasharray: 10867.732421875;
  }
}

#player-connect {
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 30;
    stroke-dasharray: 19016.759765625;
  }
}

#logo-a {
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 30;
    stroke-dasharray: 27640.380859375;
  }
}

#battleship {
  path {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 30;
    stroke-dasharray: 21773.720703125;
  }
}

[data-aos="draw"] {
  stroke-dashoffset: 2400;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

[data-aos="undraw"] {
  stroke-dashoffset: 0;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 2400;
  }
}

[data-aos="draw-youtube"] {
  stroke-dashoffset: 10867.732421875;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

[data-aos="draw-playerconnect"] {
  stroke-dashoffset: 19016.759765625;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

[data-aos="draw-logo-a"] {
  stroke-dashoffset: 27640.380859375;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

[data-aos="draw-battleship"] {
  stroke-dashoffset: 21773.720703125;
  transition-property: stroke-dashoffset;
  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

circle.swatch {
  display: none;
}
text.label {
  display: none;
}

h2.circle-overlay__title {
  display: none;
}

#chevron-right {
  background: none;
}
#chevron-left {
  background: none;
}

figure {
  a {
    cursor: pointer;
  }
  padding: 1.5em;
  padding-top: 0px;
  img {
    border-radius: 30px;
  }

}

#youbet-logo {
  padding-left: 30px;
}

.glider-contain {
  width: 75%;

}

foreignobject.circle-overlay.hidden {
  display: none;
}

.changeColor {
   background: white;
}

svg.bubble {
  overflow: visible;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.project-logos-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

svg {
  background: none;
}



@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
